@media (max-width: 320px) {
    .mood {
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        
    }

    label{
        background:pink;
        padding:3% 5%;
        border-radius:3%;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size:1.6rem;
        width:80%;
        margin:1%;
        cursor: pointer;
        border:1px solid transparent;
        
        &:hover{
            background:fuchsia;
            transition:.3s;
            border:1px solid black;
        }
    }

    .hideInput{
        visibility: hidden;
    }

    input[type=radio]:checked + label{
        background:fuchsia;
        transition:.3s;
        border:1px solid black;
    }

    .submitButton{
        font-size:1.8rem;
        border-radius:5%;
        margin:5%;
        text-transform: uppercase;
        border:none;
        padding:5% 10%;
        border:1px solid transparent;
        
        &:hover{
            background:yellow;
            transition:.3s;
            border:1px solid red;
        }
    }

}