// COLORS:
$cream: #FFFBE2;
$green: #2d5436;
$yellow:#dbb446;

// TYPOGRAPHY:

$fun: 'Bungee Shade', cursive;
<<<<<<< HEAD
=======
$heading: 'Gayathri', sans-serif;
>>>>>>> df22fbada6df9c26fcc4d58c86b375f8fcf55d9c
$body: 'Lexend Deca', sans-serif;
